mqtt-dhbkhn/cau4/node-red/flows.json
[{"id":"128be827.3749d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"64149fa5.bab99","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ce90b12.a3bf85","type":"function","z":"128be827.3749d8","name":"Preprocessing - control watch","func":"if (!context.count_message) {\n  context.count_message = 0;\n}\nif (!context.detect_action){\n    context.detect_action = {\"payload\":{\"timestamps\": [], \"acc\":[]}}\n}\nvar data = msg.payload\nif(data.yaw != null && data.pitch != null && data.roll != null && data.Ax != null && data.Ay != null && data.Az != null){\n    context.detect_action.payload.timestamps.push(Date.now())\n    context.detect_action.payload.acc.push([data.yaw, data.pitch, data.roll, data.Ax, data.Ay, data.Az])\n    context.count_message +=1;\n    if(context.count_message == 20){\n        context.count_message = 0;\n        node.send(context.detect_action)\n        context.detect_action = {\"payload\":{\"timestamps\": [],\"acc\":[]}}\n    \n    }   \n}\n","outputs":1,"noerr":0,"x":830,"y":260,"wires":[["2eda190b.9c8d36"]]},{"id":"2eda190b.9c8d36","type":"http request","z":"128be827.3749d8","name":"Dectect Action","method":"POST","ret":"txt","url":"ml:5000/getaction","tls":"","x":1140,"y":260,"wires":[["a80ca5fa.5aba78","89f592d.e21fc7","39644623.57a6ca"]]},{"id":"39644623.57a6ca","type":"function","z":"128be827.3749d8","name":"control watch","func":"if (context.last_action == undefined) {\n    context.last_action = \"\";\n}\nif (context.last_time == undefined) {\n    context.last_time = Date.now()\n}\nif (context.run == undefined) {\n    context.run = 0\n}\nif (context.walk == undefined) {\n    context.walk = 0\n}\nif (context.stand == undefined) {\n    context.stand = 0\n}\nvar action = msg.payload.action\nif (action != context.last_action){\n    // count action time  \n    if (context.last_action == 'Walking'){\n        context.walk = Date.now() - context.last_time\n    }else if(context.last_action == 'Running'){\n        context.run = Date.now() - context.last_time\n    }else if(context.last_action == 'Standing'){\n        context.stand = Date.now() - context.last_time\n    }\n    \n    // decide command control to watch \n    if(action == 'Rotating'){\n        var new_message = {\n            \"payload\":{\n                \"action\": action,\n                \"run\": context.run,\n                \"walk\": context.walk,\n                \"stand\": context.stand\n            }\n        }\n        node.send(new_message)\n        \n    }\n}\ncontext.last_action = action\ncontext.last_time = Date.now()","outputs":1,"noerr":0,"x":1430,"y":260,"wires":[["d11d7f8.e5fd28","f2b1cdc.130823"]]},{"id":"4c787884.113cf8","type":"debug","z":"128be827.3749d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":420,"wires":[]},{"id":"d11d7f8.e5fd28","type":"mqtt out","z":"128be827.3749d8","name":"","topic":"mqtt-team/control-watch","qos":"","retain":"","broker":"64149fa5.bab99","x":1770,"y":360,"wires":[]},{"id":"ca3571ed.97c8c","type":"mqtt in","z":"128be827.3749d8","name":"receive data","topic":"mqtt-team/real-time","qos":"2","broker":"64149fa5.bab99","x":70,"y":260,"wires":[["8e58c7ac.951f88"]]},{"id":"8e58c7ac.951f88","type":"json","z":"128be827.3749d8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":260,"wires":[["ce90b12.a3bf85","37cf4f11.3ecf8"]]},{"id":"37cf4f11.3ecf8","type":"debug","z":"128be827.3749d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":400,"wires":[]},{"id":"a80ca5fa.5aba78","type":"debug","z":"128be827.3749d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1240,"y":40,"wires":[]},{"id":"89f592d.e21fc7","type":"json","z":"128be827.3749d8","name":"","property":"payload","action":"","pretty":false,"x":1110,"y":340,"wires":[["4c787884.113cf8"]]},{"id":"f2b1cdc.130823","type":"debug","z":"128be827.3749d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1710,"y":140,"wires":[]}]