WinWinSprial_FPTU/Part2/server/node-red/data/.flows.json.backup
[{"id":"fc3cc25f.df6f7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"868db94a.445678","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c10f5199.df0b3","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"iot","name":"InfluxDB","usetls":false,"tls":""},{"id":"994cb842.769d98","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"6241050.a653ffc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5f52b28f.5ed44c","type":"ui_group","z":"","name":"Real Time Chart","tab":"66537d95.773494","order":2,"disp":true,"width":"6","collapse":false},{"id":"66537d95.773494","type":"ui_tab","z":"","name":"MPU Data","icon":"dashboard","order":2},{"id":"2f4c549.c469bac","type":"function","z":"fc3cc25f.df6f7","name":"Return data for chart","func":"var data = msg.payload;\nvar msg = {};\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\n\nmsg.topic = \"Ax\";\nmsg.payload = data.ax;\n\nmsg1.topic = \"Ay\";\nmsg1.payload = data.ay;\n\nmsg2.topic = \"Az\";\nmsg2.payload = data.az;\n\nmsg3.topic = \"Yaw\";\nmsg3.payload = data.y;\n\nmsg4.topic = \"Pitch\";\nmsg4.payload = data.p;\n\nmsg5.topic = \"Roll\";\nmsg5.payload = data.r;\n\nreturn [msg, msg1, msg2, msg3, msg4, msg5];","outputs":6,"noerr":0,"x":580,"y":180,"wires":[["ec658a9d.613f68"],["ec658a9d.613f68"],["ec658a9d.613f68"],["40d1e9b7.36fa58"],["40d1e9b7.36fa58"],["40d1e9b7.36fa58"]]},{"id":"ec658a9d.613f68","type":"ui_chart","z":"fc3cc25f.df6f7","name":"","group":"5f52b28f.5ed44c","order":0,"width":0,"height":0,"label":"MPU Accel Data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-16000","ymax":"16000","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":860,"y":160,"wires":[[],[]]},{"id":"40d1e9b7.36fa58","type":"ui_chart","z":"fc3cc25f.df6f7","name":"","group":"5f52b28f.5ed44c","order":0,"width":0,"height":0,"label":"MPU Yaw Pitch Roll Data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-180","ymax":"180","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":890,"y":220,"wires":[[],[]]},{"id":"d228250d.eb8de8","type":"mqtt in","z":"fc3cc25f.df6f7","name":"MPU data","topic":"mpu/data","qos":"2","broker":"868db94a.445678","x":120,"y":120,"wires":[["3520f3c0.bbf0bc"]]},{"id":"3520f3c0.bbf0bc","type":"json","z":"fc3cc25f.df6f7","name":"Convert to JSON Object","property":"payload","action":"","pretty":false,"x":250,"y":200,"wires":[["2f4c549.c469bac"]]},{"id":"2677118d.97c95e","type":"ui_text","z":"fc3cc25f.df6f7","group":"5f52b28f.5ed44c","order":0,"width":0,"height":0,"name":"","label":"Total time: ","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":60,"wires":[]},{"id":"52ec54cb.88301c","type":"function","z":"fc3cc25f.df6f7","name":"Display total record time","func":"var startTime = global.get(\"start\");\nif (startTime == null){\n    startTime = new Date();\n    global.set(\"start\", startTime);\n}\n\nfunction msToTime(duration) {\n  var milliseconds = parseInt((duration % 1000) / 100),\n    seconds = parseInt((duration / 1000) % 60),\n    minutes = parseInt((duration / (1000 * 60)) % 60),\n    hours = parseInt((duration / (1000 * 60 * 60)) % 24);\n\n  hours = (hours < 10) ? \"0\" + hours : hours;\n  minutes = (minutes < 10) ? \"0\" + minutes : minutes;\n  seconds = (seconds < 10) ? \"0\" + seconds : seconds;\n\n  return hours + \":\" + minutes + \":\" + seconds + \".\" + milliseconds;\n}\n\n\nvar endTime = new Date();\n\nvar totalTime = endTime - startTime;\n\nmsg.payload = msToTime(totalTime);\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":60,"wires":[["2677118d.97c95e"]]},{"id":"493ddc68.789634","type":"inject","z":"fc3cc25f.df6f7","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":150,"y":60,"wires":[["52ec54cb.88301c"]]}]