flow.json
[{"id":"3ad06074.b71e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1a2c61bf.98951e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"22ba921.ebfa8ee","type":"mqtt-broker","z":"","name":"","broker":"10.170.46.243","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"309a3f0a.92482","type":"mqtt-broker","z":"","name":"demo","broker":"m15.cloudmqtt.com","port":"18037","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8ba16e38.23af6","type":"ui_group","z":"","name":"demo","tab":"547b166e.bfb2c8","disp":true,"width":"6","collapse":false},{"id":"547b166e.bfb2c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"588accff.2c29a4","type":"http request","z":"3ad06074.b71e8","name":"GetW","method":"GET","ret":"txt","url":"http://api.apixu.com/v1/current.json?key=703547692c38469da5885834182911&q=HaNoi","tls":"","x":290,"y":260,"wires":[["bd1cc9e8.bd1a5"]]},{"id":"2408128.187526e","type":"mqtt in","z":"3ad06074.b71e8","name":"","topic":"Watch","qos":"0","broker":"22ba921.ebfa8ee","x":70,"y":120,"wires":[["fa1dec04.7fc0c8"]]},{"id":"bb20892.727f678","type":"inject","z":"3ad06074.b71e8","name":"GetWeather","topic":"weather","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":300,"wires":[["588accff.2c29a4"]]},{"id":"cc9bb8bb.ac1d38","type":"debug","z":"3ad06074.b71e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":240,"wires":[]},{"id":"bd1cc9e8.bd1a5","type":"function","z":"3ad06074.b71e8","name":"Get state","func":"data = JSON.parse(msg.payload);\n\nmsg.payload = data.current.condition.text;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["cc9bb8bb.ac1d38"]]},{"id":"d0eebf0a.0b9fc","type":"mqtt out","z":"3ad06074.b71e8","name":"","topic":"Server","qos":"0","retain":"","broker":"22ba921.ebfa8ee","x":660,"y":140,"wires":[]},{"id":"fa1dec04.7fc0c8","type":"function","z":"3ad06074.b71e8","name":"GETTIME","func":"if (msg.payload == \"GETTIME\") {\n    d = new Date();\n    msg.payload = `Th ${d.getMonth()} ${d.getDay()}, ${d.getFullYear()}/${d.getHours()}:${d.getMinutes()} ${d.getSeconds()}`;\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["d0eebf0a.0b9fc","cc9bb8bb.ac1d38"]]},{"id":"a3831f57.5ad77","type":"inject","z":"3ad06074.b71e8","name":"","topic":"","payload":"GETTIME","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["fa1dec04.7fc0c8"]]},{"id":"c748dff6.5825b","type":"mqtt in","z":"1a2c61bf.98951e","name":"Ax","topic":"ax","qos":"2","broker":"22ba921.ebfa8ee","x":370,"y":220,"wires":[["d5cb5a51.cbfdc8","c20eb791.54eea8"]]},{"id":"9aeba28f.2b04d","type":"mqtt in","z":"1a2c61bf.98951e","name":"Ay","topic":"ay","qos":"2","broker":"22ba921.ebfa8ee","x":370,"y":280,"wires":[["d5cb5a51.cbfdc8","c20eb791.54eea8"]]},{"id":"d38a4e06.ef2aa","type":"mqtt in","z":"1a2c61bf.98951e","name":"Az","topic":"az","qos":"2","broker":"22ba921.ebfa8ee","x":370,"y":360,"wires":[["d5cb5a51.cbfdc8","c20eb791.54eea8"]]},{"id":"2e6d0037.08f2e","type":"mqtt in","z":"1a2c61bf.98951e","name":"Yaw","topic":"yaw","qos":"2","broker":"22ba921.ebfa8ee","x":370,"y":420,"wires":[[]]},{"id":"4666da62.083194","type":"mqtt in","z":"1a2c61bf.98951e","name":"Pitch","topic":"pitch","qos":"2","broker":"22ba921.ebfa8ee","x":390,"y":500,"wires":[[]]},{"id":"c20eb791.54eea8","type":"debug","z":"1a2c61bf.98951e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":990,"y":360,"wires":[]},{"id":"d5cb5a51.cbfdc8","type":"ui_chart","z":"1a2c61bf.98951e","name":"","group":"8ba16e38.23af6","order":0,"width":"0","height":"0","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"90","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":420,"wires":[[],[]]},{"id":"8a0556cd.21d838","type":"mqtt in","z":"1a2c61bf.98951e","name":"Roll","topic":"roll","qos":"2","broker":"22ba921.ebfa8ee","x":400,"y":580,"wires":[[]]}]
