HUTECH/part02/node-red/data/flows.json
[{"id":"6f436e7c.86888","type":"tab","label":"Flow 1"},{"id":"166d35a9.c7ac9a","type":"mqtt-broker","z":"","broker":"35.196.78.255","port":"1883","clientid":"NODERED_1997_K23M2","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d0e31352.46fda","type":"mqtt-broker","z":"","broker":"35.196.78.255","port":"1883","clientid":"GET_ACC_GRY_22","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1cc08db5.d827c2","type":"ui_group","z":"","name":"Axis y","tab":"f69894a7.dcfc28","order":2,"disp":true,"width":"6","collapse":false},{"id":"bdedf8a5.2b0eb8","type":"ui_group","z":"","name":"Axis z","tab":"f69894a7.dcfc28","order":3,"disp":true,"width":"6","collapse":false},{"id":"8b57c32e.39d8","type":"ui_group","z":"","name":"Lecturas MPU","tab":"47fcdd2a.8fa114","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e2b90f7.3997c","type":"ui_group","z":"","name":"Axis x","tab":"f69894a7.dcfc28","order":1,"disp":true,"width":"6","collapse":false},{"id":"f69894a7.dcfc28","type":"ui_tab","z":"","name":"MPU6050","icon":"dashboard","order":1},{"id":"47fcdd2a.8fa114","type":"ui_tab","z":"","name":"MPU6050 Movil","icon":"dashboard","order":4},{"id":"8a18d5c6.c14b98","type":"mqtt-broker","z":"","broker":"35.196.78.255","port":"1883","clientid":"GET_ACC_GRY_22","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"faa88676.001958","type":"ui_group","z":"","name":"Axis y","tab":"a1d2ad59.bd28b","order":2,"disp":true,"width":"6","collapse":false},{"id":"20e17aad.264df6","type":"ui_group","z":"","name":"Axis z","tab":"a1d2ad59.bd28b","order":3,"disp":true,"width":"6","collapse":false},{"id":"319419f1.ba7f96","type":"ui_group","z":"","name":"Lecturas MPU","tab":"1241414d.7a4dbf","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c9c1e52.6fdff2","type":"ui_group","z":"","name":"Axis x","tab":"a1d2ad59.bd28b","order":1,"disp":true,"width":"6","collapse":false},{"id":"a1d2ad59.bd28b","type":"ui_tab","z":"","name":"MPU6050","icon":"dashboard","order":1},{"id":"1241414d.7a4dbf","type":"ui_tab","z":"","name":"MPU6050 Movil","icon":"dashboard","order":4},{"id":"58bec642.39a9d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d9eaf6ed.d469a8","type":"meo-esp-in-hut","z":"6f436e7c.86888","name":"","deviceId":"HUT_CLOUD","broker":"8a18d5c6.c14b98","x":286,"y":354,"wires":[["f1abe8ac.b356b8"]]},{"id":"a6c609c9.51f418","type":"ui_gauge","z":"6f436e7c.86888","name":"","group":"faa88676.001958","order":0,"width":"6","height":"3","gtype":"gage","title":"","label":"","format":"{{value}}","min":"-1000","max":"1000","colors":["#ffff00","#0000a0","#ff0000"],"seg1":"","seg2":"","x":767.5,"y":418,"wires":[]},{"id":"29e086ba.ec76ca","type":"ui_chart","z":"6f436e7c.86888","name":"Aceler_Y chart","group":"faa88676.001958","order":0,"width":"6","height":"4","label":"Aceler Y","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1000","ymax":"1000","removeOlder":"5","removeOlderPoints":"50","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#021f33","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":780.5,"y":472,"wires":[[],[]]},{"id":"f9976af3.c0c7c8","type":"ui_gauge","z":"6f436e7c.86888","name":"","group":"20e17aad.264df6","order":0,"width":"6","height":"3","gtype":"gage","title":"","label":"","format":"{{value}}","min":"-1000","max":"1000","colors":["#ffff00","#0000a0","#ff0000"],"seg1":"","seg2":"","x":781.5,"y":590,"wires":[]},{"id":"7b7370a3.30d64","type":"ui_chart","z":"6f436e7c.86888","name":"Aceler_Z chart","group":"20e17aad.264df6","order":0,"width":"6","height":"4","label":"Aceler Z","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1000","ymax":"1000","removeOlder":"5","removeOlderPoints":"50","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#d2632b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":775.5,"y":646,"wires":[[],[]]},{"id":"77d3d024.ef551","type":"ui_text","z":"6f436e7c.86888","group":"319419f1.ba7f96","order":0,"width":0,"height":0,"name":"","label":"accelerometerY: ","format":"{{msg.payload}}","layout":"row-spread","x":790.5,"y":372,"wires":[]},{"id":"975e853f.e9cc78","type":"ui_text","z":"6f436e7c.86888","group":"319419f1.ba7f96","order":0,"width":0,"height":0,"name":"","label":"accelerometer Z: ","format":"{{msg.payload}}","layout":"row-spread","x":795.5,"y":546,"wires":[]},{"id":"f1abe8ac.b356b8","type":"function","z":"6f436e7c.86888","name":"EXP_DATA","func":"const msg1 = {}, msg2 = {}, msg3 = {},\nmsg4 = {}, msg5 = {}, msg6 = {};\n\n// a\nmsg1.payload = msg.payload.V1;\nmsg2.payload = msg.payload.V2;\nmsg3.payload = msg.payload.V3;\n// g\nmsg4.payload = msg.payload.V4;\nmsg5.payload = msg.payload.V5;\nmsg6.payload = msg.payload.V6;\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];","outputs":6,"noerr":0,"x":402.5,"y":569,"wires":[["718362f2.ba8adc","bdf726c3.b64ce8","9c45876a.067028"],["77d3d024.ef551","a6c609c9.51f418","29e086ba.ec76ca"],["975e853f.e9cc78","f9976af3.c0c7c8","7b7370a3.30d64"],["e34ac2f7.05de7","690773aa.67f29c","ca604cbc.d0dcf"],["3b8c89d0.245306","540683e.f28097c","1e6d5ef8.ca2371"],["7e21a68c.62caa8","d84ca08a.b9ca8","f1a6e891.defaf8"]]},{"id":"bdf726c3.b64ce8","type":"ui_gauge","z":"6f436e7c.86888","name":"","group":"2c9c1e52.6fdff2","order":0,"width":"6","height":"3","gtype":"gage","title":"","label":"","format":"{{value}}","min":"-1000","max":"1000","colors":["#ffff00","#0000a0","#ff0000"],"seg1":"","seg2":"","x":748.5,"y":235,"wires":[]},{"id":"9c45876a.067028","type":"ui_chart","z":"6f436e7c.86888","name":"Aceler_X chart","group":"2c9c1e52.6fdff2","order":0,"width":"6","height":"4","label":"Aceler X","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1000","ymax":"1000","removeOlder":"5","removeOlderPoints":"50","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#cd1b1b","#c5b0d5"],"useOldStyle":false,"x":742.5,"y":298,"wires":[[],[]]},{"id":"718362f2.ba8adc","type":"ui_text","z":"6f436e7c.86888","group":"319419f1.ba7f96","order":0,"width":"0","height":"0","name":"","label":"accelerometerX:","format":"{{msg.payload}}","layout":"row-spread","x":731.5,"y":177,"wires":[]},{"id":"540683e.f28097c","type":"ui_gauge","z":"6f436e7c.86888","name":"","group":"faa88676.001958","order":0,"width":"6","height":"3","gtype":"gage","title":"","label":"","format":"{{value}}","min":"-1000","max":"1000","colors":["#ffff00","#0000a0","#ff0000"],"seg1":"","seg2":"","x":1056.5,"y":698,"wires":[]},{"id":"1e6d5ef8.ca2371","type":"ui_chart","z":"6f436e7c.86888","name":"Aceler_Y chart","group":"faa88676.001958","order":0,"width":"6","height":"4","label":"Gyroscope Y","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1000","ymax":"1000","removeOlder":"5","removeOlderPoints":"50","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#021f33","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1069.5,"y":752,"wires":[[],[]]},{"id":"d84ca08a.b9ca8","type":"ui_gauge","z":"6f436e7c.86888","name":"","group":"20e17aad.264df6","order":0,"width":"6","height":"3","gtype":"gage","title":"","label":"","format":"{{value}}","min":"-1000","max":"1000","colors":["#ffff00","#0000a0","#ff0000"],"seg1":"","seg2":"","x":1070.5,"y":870,"wires":[]},{"id":"f1a6e891.defaf8","type":"ui_chart","z":"6f436e7c.86888","name":"Gyroscope chart","group":"20e17aad.264df6","order":0,"width":"6","height":"4","label":"GyroscopeZ","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1000","ymax":"1000","removeOlder":"5","removeOlderPoints":"50","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#d2632b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1074.5,"y":926,"wires":[[],[]]},{"id":"3b8c89d0.245306","type":"ui_text","z":"6f436e7c.86888","group":"319419f1.ba7f96","order":0,"width":0,"height":0,"name":"","label":"Gyroscope Y: ","format":"{{msg.payload}}","layout":"row-spread","x":1081.5,"y":635,"wires":[]},{"id":"7e21a68c.62caa8","type":"ui_text","z":"6f436e7c.86888","group":"319419f1.ba7f96","order":0,"width":0,"height":0,"name":"","label":"Gyroscope Z: ","format":"{{msg.payload}}","layout":"row-spread","x":1074.5,"y":826,"wires":[]},{"id":"690773aa.67f29c","type":"ui_gauge","z":"6f436e7c.86888","name":"","group":"2c9c1e52.6fdff2","order":0,"width":"6","height":"3","gtype":"gage","title":"","label":"","format":"{{value}}","min":"-1000","max":"1000","colors":["#ffff00","#0000a0","#ff0000"],"seg1":"","seg2":"","x":1037.5,"y":515,"wires":[]},{"id":"ca604cbc.d0dcf","type":"ui_chart","z":"6f436e7c.86888","name":"GyroscopeX chart","group":"2c9c1e52.6fdff2","order":0,"width":"6","height":"4","label":"Gyroscope X","chartType":"line","legend":"false","xformat":"ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1000","ymax":"1000","removeOlder":"5","removeOlderPoints":"50","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#cd1b1b","#c5b0d5"],"useOldStyle":false,"x":1041.5,"y":578,"wires":[[],[]]},{"id":"e34ac2f7.05de7","type":"ui_text","z":"6f436e7c.86888","group":"319419f1.ba7f96","order":0,"width":"0","height":"0","name":"","label":"gyroscope X: ","format":"{{msg.payload}}","layout":"row-spread","x":1010.5,"y":457,"wires":[]}]