LittleBin_FPTU/nodeRedFlow/mainFlow.json
[{"id":"ebde7cc5.e8a6a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"82158f04.bfe76","type":"mqtt in","z":"ebde7cc5.e8a6a","name":"","topic":"event","qos":"2","broker":"3ebe0d70.063aa2","x":140,"y":180,"wires":[["ecca7b90.bbf3a8"]]},{"id":"1c80754e.e7fbbb","type":"debug","z":"ebde7cc5.e8a6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":675,"y":57,"wires":[]},{"id":"5b1f73f0.e6474c","type":"ui_button","z":"ebde7cc5.e8a6a","name":"","group":"71353b8c.ab6e34","order":1,"width":0,"height":0,"passthru":false,"label":"ON","color":"#fff","bgcolor":"rgb(63,81,181)","icon":"","payload":"1","payloadType":"num","topic":"","x":122.5,"y":286,"wires":[["24bbcff2.238a6","d6234b2c.459fd8"]]},{"id":"abd6b327.85858","type":"ui_button","z":"ebde7cc5.e8a6a","name":"","group":"71353b8c.ab6e34","order":2,"width":0,"height":0,"passthru":false,"label":"OFF","color":"#fff","bgcolor":"rgb(63,81,181)","icon":"","payload":"0","payloadType":"num","topic":"","x":106.5,"y":387,"wires":[["d6234b2c.459fd8","24bbcff2.238a6"]]},{"id":"d6234b2c.459fd8","type":"mqtt out","z":"ebde7cc5.e8a6a","name":"","topic":"event","qos":"1","retain":"false","broker":"3ebe0d70.063aa2","x":331.5,"y":290,"wires":[]},{"id":"24bbcff2.238a6","type":"debug","z":"ebde7cc5.e8a6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":324.5,"y":387,"wires":[]},{"id":"ecca7b90.bbf3a8","type":"json","z":"ebde7cc5.e8a6a","name":"","property":"payload","action":"obj","pretty":false,"x":291.5,"y":191,"wires":[["e5f11b53.ccfeb8"]]},{"id":"e5f11b53.ccfeb8","type":"function","z":"ebde7cc5.e8a6a","name":"calculate","func":"const { ax, ay, az, gx, gy, gz } = msg.payload;\nroll = Math.atan2(ay, az)*180/3.14;\npitch = Math.atan2(ax, Math.sqrt(ay*ay+az*az))*180/3.14;\nmsg.payload[\"roll\"] = roll;\nmsg.payload[\"pitch\"] = pitch;\nmsg.payload[\"yaw\"] = gz / 131.0;\nreturn msg;","outputs":1,"noerr":0,"x":455.5,"y":180,"wires":[["1c80754e.e7fbbb","8662d40b.1a3aa8","dedb6207.9d81a","e1200ef1.db064","d221e528.f6f398","d38a9d78.dd0cc","215bbaca.334986","40139e89.55b5"]]},{"id":"8662d40b.1a3aa8","type":"function","z":"ebde7cc5.e8a6a","name":"payload roll","func":"\nreturn {topic:\"roll\", payload:msg.payload.roll};","outputs":1,"noerr":0,"x":685.5,"y":299,"wires":[["3a1dde26.ae5862"]]},{"id":"dedb6207.9d81a","type":"function","z":"ebde7cc5.e8a6a","name":"payload pitch","func":"\nreturn {topic:\"pitch\", payload:msg.payload.pitch};","outputs":1,"noerr":0,"x":689.5,"y":359,"wires":[["73835e48.a6f2c"]]},{"id":"e1200ef1.db064","type":"function","z":"ebde7cc5.e8a6a","name":"payload yaw","func":"\nreturn {topic:\"yaw\", payload:msg.payload.yaw};","outputs":1,"noerr":0,"x":690.5,"y":434,"wires":[["5e19ddbb.ad83c4"]]},{"id":"3a1dde26.ae5862","type":"ui_chart","z":"ebde7cc5.e8a6a","name":"","group":"3a97efb3.65de7","order":1,"width":"0","height":"0","label":"Roll","chartType":"line","legend":"false","xformat":"HH:mm:ss.sss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":881.5,"y":297,"wires":[[],[]]},{"id":"73835e48.a6f2c","type":"ui_chart","z":"ebde7cc5.e8a6a","name":"","group":"3a97efb3.65de7","order":2,"width":"0","height":"0","label":"Pitch","chartType":"line","legend":"false","xformat":"HH:mm:ss.sss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":884.5,"y":363,"wires":[[],[]]},{"id":"5e19ddbb.ad83c4","type":"ui_chart","z":"ebde7cc5.e8a6a","name":"","group":"3a97efb3.65de7","order":3,"width":"0","height":"0","label":"Yaw","chartType":"line","legend":"false","xformat":"HH:mm:ss.sss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":878.5,"y":439,"wires":[[],[]]},{"id":"d221e528.f6f398","type":"function","z":"ebde7cc5.e8a6a","name":"payload ax","func":"\nreturn {topic:\"ax\", payload:msg.payload.ax};","outputs":1,"noerr":0,"x":681.5,"y":127,"wires":[["9e332ab.a99fed8"]]},{"id":"d38a9d78.dd0cc","type":"function","z":"ebde7cc5.e8a6a","name":"payload ay","func":"\nreturn {topic:\"ay\", payload:msg.payload.ay};","outputs":1,"noerr":0,"x":683.5,"y":192,"wires":[["d956877f.7e5f08"]]},{"id":"215bbaca.334986","type":"function","z":"ebde7cc5.e8a6a","name":"payload az","func":"\nreturn {topic:\"az\", payload:msg.payload.az};","outputs":1,"noerr":0,"x":682.5,"y":245,"wires":[["b7f84007.dd22a"]]},{"id":"9e332ab.a99fed8","type":"ui_chart","z":"ebde7cc5.e8a6a","name":"","group":"3a97efb3.65de7","order":4,"width":"0","height":"0","label":"a_x","chartType":"line","legend":"false","xformat":"HH:mm:ss.sss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":872.5,"y":115,"wires":[[],[]]},{"id":"d956877f.7e5f08","type":"ui_chart","z":"ebde7cc5.e8a6a","name":"","group":"3a97efb3.65de7","order":5,"width":"0","height":"0","label":"a_y","chartType":"line","legend":"false","xformat":"HH:mm:ss.sss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":869.5,"y":194,"wires":[[],[]]},{"id":"b7f84007.dd22a","type":"ui_chart","z":"ebde7cc5.e8a6a","name":"","group":"3a97efb3.65de7","order":6,"width":"0","height":"0","label":"a_z","chartType":"line","legend":"false","xformat":"HH:mm:ss.sss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":869.5,"y":249,"wires":[[],[]]},{"id":"40139e89.55b5","type":"mqtt out","z":"ebde7cc5.e8a6a","name":"","topic":"predict","qos":"1","retain":"true","broker":"3ebe0d70.063aa2","x":615.5,"y":520,"wires":[]},{"id":"9d8e0724.84ee68","type":"mqtt in","z":"ebde7cc5.e8a6a","name":"","topic":"predicted","qos":"2","broker":"3ebe0d70.063aa2","x":196.5,"y":628,"wires":[["b33fdf84.28ba","267cfef.30fe202"]]},{"id":"f866a5f5.8a51f8","type":"debug","z":"ebde7cc5.e8a6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740.5,"y":595,"wires":[]},{"id":"b33fdf84.28ba","type":"json","z":"ebde7cc5.e8a6a","name":"","property":"payload","action":"obj","pretty":false,"x":379.5,"y":639,"wires":[["a9830ad7.97a7b8"]]},{"id":"a9830ad7.97a7b8","type":"function","z":"ebde7cc5.e8a6a","name":"detectMotion","func":"if (msg.payload.predict === \"0\") {\n    msg.payload = \"You just fell\";\n} else {\n    msg.payload = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":566.5,"y":654,"wires":[["f866a5f5.8a51f8","96bad22d.b2545"]]},{"id":"267cfef.30fe202","type":"debug","z":"ebde7cc5.e8a6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":405,"y":572,"wires":[]},{"id":"96bad22d.b2545","type":"ui_text","z":"ebde7cc5.e8a6a","group":"4de0d564.2bb72c","order":0,"width":0,"height":0,"name":"","label":"Notification","format":"{{msg.payload}}","layout":"col-center","x":752.5,"y":666,"wires":[]},{"id":"3ebe0d70.063aa2","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.128","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"71353b8c.ab6e34","type":"ui_group","z":"","name":"LED Control","tab":"6ae45385.b58d4c","order":1,"disp":true,"width":"6","collapse":false},{"id":"3a97efb3.65de7","type":"ui_group","z":"","name":"Chart","tab":"119477d7.1ea188","disp":false,"width":"6","collapse":false},{"id":"4de0d564.2bb72c","type":"ui_group","z":"","name":"Noti","tab":"1d28a7e9.c917f8","disp":false,"width":"6","collapse":false},{"id":"6ae45385.b58d4c","type":"ui_tab","z":"","name":"Control ","icon":"settings","order":3},{"id":"119477d7.1ea188","type":"ui_tab","z":"","name":"Chart","icon":"show_chart","order":2},{"id":"1d28a7e9.c917f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]