WinWinSprial_FPTU/Part4/Server/node-red/data/flows.json
[{"id":"16dcdead.5edf31","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2032fe67.2e4222","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e87904a4.2046b8","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"422eeb02.d0dda4","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"iot","name":"InfluxDB","usetls":false,"tls":""},{"id":"7668dd0b.c54dc4","type":"ui_group","name":"Group 1","tab":"32cc4b30.d75074","order":1,"disp":true,"width":6},{"id":"32cc4b30.d75074","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"1cf9892a.672237","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"682a2b82.ea9904","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"113d878d.1e5678","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"1a4367db.9030b8","type":"ui_group","name":"Group 1","tab":"113d878d.1e5678","order":1,"disp":true,"width":6},{"id":"ae245eb0.08c44","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"529346e4.c04708","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"f01a7c96.89c24","type":"mqtt in","z":"16dcdead.5edf31","name":"MPU data","topic":"mpu/data","qos":"2","broker":"e87904a4.2046b8","x":160,"y":60,"wires":[["c8f1d2ed.8a003"]]},{"id":"c8f1d2ed.8a003","type":"json","z":"16dcdead.5edf31","name":"Convert to JSON Object","property":"payload","action":"","pretty":false,"x":290,"y":160,"wires":[["bbec6f4f.b3757"]]},{"id":"22b0424b.04841e","type":"influxdb out","z":"16dcdead.5edf31","influxdb":"422eeb02.d0dda4","name":"Insert Data to Database","measurement":"mpu","precision":"","retentionPolicy":"","x":450,"y":260,"wires":[]},{"id":"7d81b643.9497e8","type":"ui_button","z":"16dcdead.5edf31","name":"","group":"7668dd0b.c54dc4","order":0,"width":0,"height":0,"passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":810,"y":60,"wires":[["61b2abd5.99ac84","aa886e65.ce744"]]},{"id":"ab9bc1a3.8db5a","type":"ui_button","z":"16dcdead.5edf31","name":"","group":"7668dd0b.c54dc4","order":0,"width":0,"height":0,"passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":810,"y":180,"wires":[["61b2abd5.99ac84","aa886e65.ce744"]]},{"id":"61b2abd5.99ac84","type":"mqtt out","z":"16dcdead.5edf31","name":"","topic":"led/control","qos":"","retain":"","broker":"e87904a4.2046b8","x":1110,"y":60,"wires":[]},{"id":"aa886e65.ce744","type":"debug","z":"16dcdead.5edf31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":180,"wires":[]},{"id":"8715354a.033068","type":"function","z":"16dcdead.5edf31","name":"select top 100 data","func":"msg.query = \"select * from mpu where time < now() - 10ms ORDER BY time DESC limit 100\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":480,"wires":[["7d64b7ca.dd7ee8"]]},{"id":"7d64b7ca.dd7ee8","type":"influxdb in","z":"16dcdead.5edf31","influxdb":"422eeb02.d0dda4","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":760,"y":540,"wires":[["6d419bdc.139164","6d26998.8763c68"]]},{"id":"193b0dcb.970992","type":"debug","z":"16dcdead.5edf31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":600,"wires":[]},{"id":"8f12b3fa.9ad43","type":"http in","z":"16dcdead.5edf31","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":460,"wires":[["b2151c94.861e7"]]},{"id":"6d419bdc.139164","type":"http response","z":"16dcdead.5edf31","name":"","statusCode":"","headers":{},"x":950,"y":600,"wires":[]},{"id":"a6296065.ad18e","type":"inject","z":"16dcdead.5edf31","name":"fake","topic":"","payload":"{\"ax\":1, \"ay\":2, \"az\":3, \"y\":12, \"p\":10,\"r\":9}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["22b0424b.04841e","360dd446.87a0bc"]]},{"id":"360dd446.87a0bc","type":"debug","z":"16dcdead.5edf31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":320,"wires":[]},{"id":"5eaf94eb.7b45cc","type":"mqtt in","z":"16dcdead.5edf31","name":"","topic":"detector","qos":"2","broker":"e87904a4.2046b8","x":810,"y":340,"wires":[["6a7b3062.1fec3","d102e31f.35245"]]},{"id":"6a7b3062.1fec3","type":"debug","z":"16dcdead.5edf31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":340,"wires":[]},{"id":"d102e31f.35245","type":"mqtt out","z":"16dcdead.5edf31","name":"","topic":"detector_out","qos":"","retain":"","broker":"e87904a4.2046b8","x":1090,"y":420,"wires":[]},{"id":"b2151c94.861e7","type":"function","z":"16dcdead.5edf31","name":"select top 100 data","func":"msg.query = \"select COUNT(*) from mpu where time > now() - 1s\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":540,"wires":[["ce1c9b99.a05f58"]]},{"id":"ce1c9b99.a05f58","type":"influxdb in","z":"16dcdead.5edf31","influxdb":"422eeb02.d0dda4","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":380,"y":480,"wires":[["83d47934.26c418"]]},{"id":"83d47934.26c418","type":"switch","z":"16dcdead.5edf31","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":540,"wires":[["8715354a.033068"],["ad650e86.955fb"]]},{"id":"ad650e86.955fb","type":"function","z":"16dcdead.5edf31","name":"Return empty array","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":640,"wires":[["6d419bdc.139164","6d26998.8763c68"]]},{"id":"f2f40516.8044d8","type":"inject","z":"16dcdead.5edf31","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":600,"wires":[["b2151c94.861e7"]]},{"id":"6d26998.8763c68","type":"debug","z":"16dcdead.5edf31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":540,"wires":[]},{"id":"bbec6f4f.b3757","type":"csv","z":"16dcdead.5edf31","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"ax,ay,az,y,p,r","skip":"0","x":500,"y":120,"wires":[["3e5a9e1f.df6c52"]]},{"id":"cfbdd83b.10f678","type":"file","z":"16dcdead.5edf31","name":"file","filename":"/data/train/see_watch/see_watch_11.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":630,"y":160,"wires":[[]]},{"id":"3e5a9e1f.df6c52","type":"debug","z":"16dcdead.5edf31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":60,"wires":[]},{"id":"9a8ff152.b5fcd","type":"inject","z":"16dcdead.5edf31","name":"","topic":"","payload":"AA:BB:CC:DD:EE:GG","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1320,"wires":[["a33b6804.1704f8"]]},{"id":"a33b6804.1704f8","type":"mqtt out","z":"16dcdead.5edf31","name":"","topic":"register","qos":"","retain":"","broker":"e87904a4.2046b8","x":400,"y":1280,"wires":[]},{"id":"7212f4dd.37e16c","type":"inject","z":"16dcdead.5edf31","name":"","topic":"","payload":"20:11","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1420,"wires":[["83e8251c.ac3028"]]},{"id":"83e8251c.ac3028","type":"mqtt out","z":"16dcdead.5edf31","name":"","topic":"AA:BB:CC:DD:EE:FF/time","qos":"","retain":"","broker":"e87904a4.2046b8","x":470,"y":1380,"wires":[]},{"id":"71ee4555.fe106c","type":"mqtt in","z":"2032fe67.2e4222","name":"MPU data","topic":"mpu/data","qos":"2","broker":"e87904a4.2046b8","x":180,"y":100,"wires":[["fbdaf136.b0db7"]]},{"id":"fbdaf136.b0db7","type":"json","z":"2032fe67.2e4222","name":"Convert to JSON Object","property":"payload","action":"","pretty":false,"x":310,"y":200,"wires":[["f44da94e.b2b378"]]},{"id":"f44da94e.b2b378","type":"influxdb out","z":"2032fe67.2e4222","influxdb":"422eeb02.d0dda4","name":"Insert Data to Database","measurement":"mpu","precision":"","retentionPolicy":"","x":490,"y":300,"wires":[]},{"id":"31fa2b93.70c2d4","type":"inject","z":"2032fe67.2e4222","name":"fake","topic":"","payload":"{\"ax\":1, \"ay\":2, \"az\":3, \"y\":12, \"p\":10,\"r\":9, \"device_id\": \"AA:BB:CC:DD:EE:FF\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":340,"wires":[["f44da94e.b2b378"]]},{"id":"b2a8b2e2.77a9a","type":"http in","z":"2032fe67.2e4222","name":"","url":"login","method":"post","upload":false,"swaggerDoc":"","x":90,"y":440,"wires":[["e626597e.8dba78"]]},{"id":"59b5c40f.14044c","type":"mysql","z":"2032fe67.2e4222","mydb":"529346e4.c04708","name":"IOT Database","x":340,"y":440,"wires":[["c91009b1.0dffc8"]]},{"id":"e626597e.8dba78","type":"function","z":"2032fe67.2e4222","name":"Check login","func":"var user = msg.payload.user;\nvar pass = msg.payload.pass;\n\nmsg.topic = 'SELECT * FROM device where username = \"' + user + '\" and pass = ' + pass;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":520,"wires":[["59b5c40f.14044c"]]},{"id":"c91009b1.0dffc8","type":"switch","z":"2032fe67.2e4222","name":"user exist","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":520,"wires":[["bfc793a4.2e1f8","82ea5e42.36c99"]]},{"id":"a2061174.c14a4","type":"http response","z":"2032fe67.2e4222","name":"return macAddress","statusCode":"","headers":{},"x":830,"y":520,"wires":[]},{"id":"bfc793a4.2e1f8","type":"function","z":"2032fe67.2e4222","name":"get Mac","func":"var mac = msg.payload[0].device_id\nmsg.payload = mac;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":440,"wires":[["a2061174.c14a4"]]},{"id":"82ea5e42.36c99","type":"debug","z":"2032fe67.2e4222","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":600,"wires":[]},{"id":"e72c8bbc.72f798","type":"http in","z":"2032fe67.2e4222","name":"","url":"status","method":"post","upload":false,"swaggerDoc":"","x":130,"y":680,"wires":[["fdf3a286.59273"]]},{"id":"fdf3a286.59273","type":"function","z":"2032fe67.2e4222","name":"Get current status","func":"var device_id = msg.payload.device_id;\n\nmsg.topic = 'select * from status where device_id = \"' + device_id + '\"';\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":740,"wires":[["97945284.b7c9f"]]},{"id":"97945284.b7c9f","type":"mysql","z":"2032fe67.2e4222","mydb":"529346e4.c04708","name":"Get data from status table","x":370,"y":860,"wires":[["c74fa976.83dc68"]]},{"id":"4398714d.af5f4","type":"http response","z":"2032fe67.2e4222","name":"","statusCode":"","headers":{},"x":770,"y":860,"wires":[]},{"id":"12b6e056.093dc","type":"mysql","z":"2032fe67.2e4222","mydb":"529346e4.c04708","name":"IOT Database","x":1140,"y":1040,"wires":[[]]},{"id":"237eb074.c7f7b","type":"function","z":"2032fe67.2e4222","name":"Insert new device","func":"function getRandomInt(min, max) {\n    min = Math.ceil(min);\n    max = Math.floor(max);\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\n\nvar id = parseInt(msg.payload[0].number) + 1;\nvar username = \"watch\" + id;\nflow.set(\"username\", username);\nvar pass = getRandomInt(100000, 999999);\nflow.set(\"pass\", pass);\nvar device_id = flow.get(\"device_id\");\n\nmsg.topic = 'INSERT INTO device values (\"' + device_id + '\", \"' + username + '\", ' + pass + ' )';\n\nreturn msg;","outputs":1,"noerr":0,"x":966,"y":1100,"wires":[["12b6e056.093dc","ae24e31c.e824a"]]},{"id":"21a0a5f9.c4638a","type":"mysql","z":"2032fe67.2e4222","mydb":"529346e4.c04708","name":"IOT Database","x":836,"y":1040,"wires":[["237eb074.c7f7b"]]},{"id":"ae24e31c.e824a","type":"function","z":"2032fe67.2e4222","name":"send back username and password to device","func":"var device_id = flow.get(\"device_id\");\nmsg.topic = device_id + \"/info\"; \nmsg.payload = flow.get(\"username\") + \"-\" + flow.get(\"pass\");\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1140,"wires":[["1be1e900.982467"]]},{"id":"4a6e9779.765708","type":"function","z":"2032fe67.2e4222","name":"Count number of device","func":"msg.topic = 'SELECT COUNT(*) as number FROM device';\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1100,"wires":[["21a0a5f9.c4638a"]]},{"id":"1be1e900.982467","type":"mqtt out","z":"2032fe67.2e4222","name":"","topic":"","qos":"","retain":"","broker":"e87904a4.2046b8","x":1430,"y":1040,"wires":[]},{"id":"5bdcd0d5.6293a","type":"switch","z":"2032fe67.2e4222","name":"Device not exist","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":1040,"wires":[["4a6e9779.765708","7e520b1a.3ae824"]]},{"id":"ca173cd8.431e5","type":"mysql","z":"2032fe67.2e4222","mydb":"529346e4.c04708","name":"IOT Database","x":340,"y":1100,"wires":[["5bdcd0d5.6293a"]]},{"id":"cdcf1040.73f27","type":"function","z":"2032fe67.2e4222","name":"Check device exist?","func":"var device_id = msg.payload;\n\nflow.set(\"device_id\", device_id);\n\nmsg.topic = 'SELECT * FROM device where device_id = \"' + device_id + '\"';\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":1040,"wires":[["ca173cd8.431e5"]]},{"id":"48cd46b1.bf4698","type":"mqtt in","z":"2032fe67.2e4222","name":"","topic":"register","qos":"2","broker":"e87904a4.2046b8","x":50,"y":1100,"wires":[["cdcf1040.73f27"]]},{"id":"7e520b1a.3ae824","type":"function","z":"2032fe67.2e4222","name":"insert device status","func":"var device_id = flow.get(\"device_id\");\n\nmsg.topic = 'INSERT INTO status values (\"'+device_id+'\", \"none\", NOW())';\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":960,"wires":[["8109043b.aa0118"]]},{"id":"8109043b.aa0118","type":"mysql","z":"2032fe67.2e4222","mydb":"529346e4.c04708","name":"IOT Database","x":960,"y":940,"wires":[[]]},{"id":"77d01700.ada488","type":"inject","z":"2032fe67.2e4222","name":"","topic":"","payload":"AA:BB:CC:DD:EE:FF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":940,"wires":[["cdcf1040.73f27"]]},{"id":"c47ab1a7.b4ac7","type":"debug","z":"2032fe67.2e4222","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":740,"wires":[]},{"id":"c74fa976.83dc68","type":"function","z":"2032fe67.2e4222","name":"Format respone","func":"data = msg.payload[0];\nmsg.payload = data.label + \"-\" + data.update_time;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":860,"wires":[["4398714d.af5f4","c47ab1a7.b4ac7"]]},{"id":"8d35e84d.a5f928","type":"mqtt out","z":"2032fe67.2e4222","name":"","topic":"status","qos":"","retain":"","broker":"e87904a4.2046b8","x":330,"y":1220,"wires":[]},{"id":"d119e9bd.b74958","type":"inject","z":"2032fe67.2e4222","name":"","topic":"","payload":"hello - 123","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1220,"wires":[["8d35e84d.a5f928"]]}]