bkm3t_DHBKHN/Cau2/Product/node-red/data/flows.json
[{"id":"70ebf3ea.a78d3c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"320e0419.d5f6ac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"624e7235.d94a4c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f67f515d.45a5b","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b19d72e1.bf271","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"a0955585.20e3b8","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"99fcb0d.142575","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"1c08b279.9ff14e","type":"mqtt-broker","z":"","name":"","broker":"10.170.46.196","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"93d84f1c.0cae4","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7ed4215e.2f099","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"2029b391.8c25ac","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"bb2529cb.aa0848","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83e7e7d1.e46e58","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65c1e55.9dd9e1c","type":"mqtt-broker","z":"","broker":"server.tobernguyen.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f179ddae.082c9","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"3d884f95.1da73","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"abc9e63e.e25988","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5c91c918.ce9688","type":"mqtt-broker","z":"","name":"broker.hivemq.com","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"55ec42d9.fd8f2c","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"4d9edb7.81ed424","type":"mqtt-broker","z":"","name":"broker.hivemq.com","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57cf9630.e0c178","type":"MySQLdatabase","z":"","host":"172.17.0.3","port":"3306","db":"supplychain","tz":""},{"id":"672bc893.200c98","type":"ui_tab","z":"","name":"mpu6050","icon":"dashboard"},{"id":"43f9d3e2.9aa1ec","type":"ui_group","z":"","name":"mpu6050","tab":"672bc893.200c98","disp":true,"width":"6","collapse":false},{"id":"9ba4f3a7.5ec78","type":"ui_group","z":"","name":"Charts","tab":"c37746c8.55d368","order":2,"disp":false,"width":"6"},{"id":"e96b5c1a.bccb3","type":"ui_group","z":"","name":"Inputs","tab":"c37746c8.55d368","order":1,"disp":false,"width":"6"},{"id":"314d49b8.8f9d56","type":"ui_group","z":"","name":"Group 3","tab":"c37746c8.55d368","order":3,"disp":false,"width":"6"},{"id":"c37746c8.55d368","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"47e85f17.362e9","type":"ui_group","z":"","name":"Charts","tab":"6fbcd0f5.7ad38","order":2,"disp":false,"width":"6"},{"id":"e18bccc0.5992a","type":"ui_group","z":"","name":"Inputs","tab":"6fbcd0f5.7ad38","order":1,"disp":false,"width":"6"},{"id":"bb1dd64c.ad7b78","type":"ui_group","z":"","name":"Group 3","tab":"6fbcd0f5.7ad38","order":3,"disp":false,"width":"6"},{"id":"6fbcd0f5.7ad38","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":2},{"id":"b645dac9.fe4c58","type":"mqtt in","z":"70ebf3ea.a78d3c","name":"","topic":"bkm3t/mpu6050","qos":"2","broker":"1c08b279.9ff14e","x":92,"y":144,"wires":[["f38fb333.a8ee1"]]},{"id":"94a71879.0269d8","type":"mqtt out","z":"70ebf3ea.a78d3c","name":"","topic":"olp","qos":"","retain":"","broker":"4d9edb7.81ed424","x":770,"y":160,"wires":[]},{"id":"2ba229a.15889d6","type":"http request","z":"70ebf3ea.a78d3c","name":"","method":"POST","ret":"txt","url":"10.170.46.194:5000/predict_activity","tls":"","x":381,"y":137,"wires":[["8e4913c3.85b6","7a4579b8.d29f48"]]},{"id":"7a4579b8.d29f48","type":"debug","z":"70ebf3ea.a78d3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":763,"y":44,"wires":[]},{"id":"8e4913c3.85b6","type":"function","z":"70ebf3ea.a78d3c","name":"convert code","func":"if(msg.payload == \"up\")\n    msg.payload = '{\"value\":\"0xa10\"}'\nelse if(msg.payload == \"down\")\n    msg.payload = '{\"value\":\"0xa20\"}'\nelse if(msg.payload == \"left\")\n    msg.payload = '{\"value\":\"0xa30\"}'\nelse if(msg.payload == \"right\")\n    msg.payload = '{\"value\":\"0xa40\"}'\nelse if(msg.payload == \"walking\")\n    msg.payload = '{\"value\":\"0xa50\"}'\nelse if(msg.payload == \"running\")\n    msg.payload = '{\"value\":\"0xa60\"}'\nelse if(msg.payload == \"standing\")\n    msg.payload = '{\"value\":\"0xa70\"}'\nelse if(msg.payload == \"sitting\")\n    msg.payload = \"0xa80\"\nelse msg.payload = '{\"value\":\"0xa00\"}'\nreturn msg;","outputs":1,"noerr":0,"x":606,"y":258,"wires":[["94a71879.0269d8"]]},{"id":"f38fb333.a8ee1","type":"function","z":"70ebf3ea.a78d3c","name":"push data","func":"context.get('data', function(err, data) {\n    if (err) {\n        node.error(err, msg);\n    } else {\n        // initialise the counter to 0 if it doesn't exist already\n        data = data || [];\n        if(data.length > 50){\n            data = [];\n        }\n        var temp = JSON.parse(msg.payload);\n        temp.timestamps = new Date().getTime();\n        data.push(temp)\n        // store the value back\n        context.set('data',data, function(err) {\n            if (err) {\n                node.error(err, msg);\n            } else {\n                // make it part of the outgoing msg object\n                msg.payload = data;\n                // send the message\n                console.log(data);\n                if(data.length == 50){\n                    node.send(msg);\n                    data = [];\n                }\n                \n            }\n        });\n    }\n});\n\n// return msg;","outputs":1,"noerr":0,"x":150,"y":272,"wires":[["2ba229a.15889d6"]]},{"id":"82ad6975.ba8b28","type":"inject","z":"320e0419.d5f6ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128,"y":291,"wires":[["ac093ce9.fe35e"]]},{"id":"cd30159a.730358","type":"http request","z":"320e0419.d5f6ac","name":"post to FRED","method":"POST","ret":"txt","url":"http://mike.fred.sensetecnic.com/api/test","tls":"","x":528,"y":291,"wires":[["ce30e1dd.ed443"]]},{"id":"ac093ce9.fe35e","type":"function","z":"320e0419.d5f6ac","name":"set payload and headers","func":"msg.payload = \"data to post\";\nmsg.headers = {};\nmsg.headers['X-Auth-User'] = 'mike';\nmsg.headers['X-Auth-Key'] = 'fred-key';\n\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":291,"wires":[["cd30159a.730358"]]},{"id":"ce30e1dd.ed443","type":"debug","z":"320e0419.d5f6ac","name":"","active":true,"console":"false","complete":"false","x":698,"y":291,"wires":[]},{"id":"5cbf6910.958a18","type":"debug","z":"70ebf3ea.a78d3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":706.5,"y":679,"wires":[]},{"id":"4ea88101.71034","type":"debug","z":"624e7235.d94a4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":527,"y":145,"wires":[]},{"id":"f98b889e.cfc3e8","type":"mqtt out","z":"624e7235.d94a4c","name":"","topic":"olp","qos":"","retain":"","broker":"5c91c918.ce9688","x":376.5,"y":220,"wires":[]},{"id":"67ef2ae.27808d4","type":"e-mail","z":"624e7235.d94a4c","server":"smtp.gmail.com","port":"465","secure":true,"name":"nguyentienthao96@gmail.com","dname":"thao","x":268,"y":315,"wires":[]},{"id":"34f221b7.8aa91e","type":"mqtt in","z":"624e7235.d94a4c","name":"","topic":"olp","qos":"2","broker":"5c91c918.ce9688","x":209.5,"y":162,"wires":[[]]},{"id":"eed84389.ede98","type":"inject","z":"624e7235.d94a4c","name":"","topic":"","payload":"{\"heartRate\":\"123\",\"step\":\"123\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":104.5,"y":234,"wires":[["f98b889e.cfc3e8"]]},{"id":"e34c72e.a6b729","type":"inject","z":"624e7235.d94a4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109,"y":316,"wires":[["67ef2ae.27808d4"]]},{"id":"7b305c96.5fc7c4","type":"inject","z":"624e7235.d94a4c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":417,"wires":[[]]},{"id":"4395682a.dc5f28","type":"mqtt in","z":"624e7235.d94a4c","name":"","topic":"bkm3t/led","qos":"2","broker":"5c91c918.ce9688","x":654.5,"y":368,"wires":[[]]},{"id":"dc1207e.1e713f8","type":"function","z":"624e7235.d94a4c","name":"Get predict","func":"msg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":698,"y":247,"wires":[[]]},{"id":"d5208661.1646f8","type":"http in","z":"f67f515d.45a5b","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":200,"y":143,"wires":[["3801cc3.8a17334"]]},{"id":"408af283.815d0c","type":"http response","z":"f67f515d.45a5b","name":"","statusCode":"","headers":{},"x":644,"y":97,"wires":[]},{"id":"3801cc3.8a17334","type":"function","z":"f67f515d.45a5b","name":"","func":"msg.payload = {\"test\":123};\nreturn msg;","outputs":1,"noerr":0,"x":457,"y":46,"wires":[["408af283.815d0c"]]},{"id":"92251aa6.574018","type":"mqtt in","z":"b19d72e1.bf271","name":"","topic":"bkm3t/mpu6050","qos":"2","broker":"1c08b279.9ff14e","x":125,"y":286,"wires":[["9b5a96d3.9aa7e8","4cd33e73.49756","b2a9fc44.e637e"]]},{"id":"4cd33e73.49756","type":"function","z":"b19d72e1.bf271","name":"Parse Data","func":"var data = JSON.parse(msg.payload);\nvar msg = {};\nvar msg1 ={};\nvar msg2 = {};\nvar msg3 ={};\nvar msg4 = {};\nvar msg5 ={};\nmsg.payload = data.Ax;\nmsg.topic = \"Ax\"\n\nmsg1.payload = data.Ay;\nmsg1.topic = \"Ay\"\n\nmsg2.payload = data.Az;\nmsg2.topic = \"Az\"\n\nmsg3.payload = data.yaw;\nmsg3.topic = \"yaw\"\n\nmsg4.payload = data.pitch;\nmsg4.topic = \"pitch\";\n\nmsg5.payload = data.roll;\nmsg5.topic = \"roll\";\n\nreturn [msg,msg1,msg2,msg3,msg4,msg5];\n// return [msg,msg1,msg2];","outputs":6,"noerr":0,"x":420.5,"y":153,"wires":[["5f5abd3a.545614","b89af9f4.e14b78"],["5f5abd3a.545614"],["5f5abd3a.545614"],["5f5abd3a.545614"],["5f5abd3a.545614"],["5f5abd3a.545614"]]},{"id":"5f5abd3a.545614","type":"ui_chart","z":"b19d72e1.bf271","name":"","group":"9ba4f3a7.5ec78","order":0,"width":"6","height":"6","label":"MPU6050","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#e8ce19","#410cff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":642.5,"y":163,"wires":[[],[]]},{"id":"9932e818.553328","type":"ui_template","z":"b19d72e1.bf271","group":"9ba4f3a7.5ec78","name":"","order":0,"width":0,"height":0,"format":"<span ng-bind-html=\"msg.payload\"></span>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":576.5,"y":268,"wires":[[]]},{"id":"9b5a96d3.9aa7e8","type":"function","z":"b19d72e1.bf271","name":"Time","func":"context.get('time', function(err, time) {\n    if (err) {\n        node.error(err, msg);\n    } else {\n        // initialise the counter to 0 if it doesn't exist already\n        time = time || 0;\n        time +=1;\n        // time new Date();\n        // data.push(temp)\n        // store the value back\n        context.set('time',time, function(err) {\n            if (err) {\n                node.error(err, msg);\n            } else {\n                // make it part of the outgoing msg object\n                // time = time + 1;\n                msg.payload = time + \"s\";\n                // send the message\n                node.send(msg);\n                \n            }\n        });\n    }\n});\n\n// return msg;","outputs":1,"noerr":0,"x":334,"y":290,"wires":[["9932e818.553328"]]},{"id":"aeea99f5.4a2bd8","type":"http request","z":"b19d72e1.bf271","name":"","method":"POST","ret":"txt","url":"10.170.46.194:5000/predict_activity","tls":"","x":527,"y":414,"wires":[["b89af9f4.e14b78","798f7833.103188"]]},{"id":"b2a9fc44.e637e","type":"function","z":"b19d72e1.bf271","name":"push data","func":"context.get('data', function(err, data) {\n    if (err) {\n        node.error(err, msg);\n    } else {\n        // initialise the counter to 0 if it doesn't exist already\n        data = data || [];\n        if(data.length > 50){\n            data = [];\n        }\n        var temp = JSON.parse(msg.payload);\n        temp.timestamps = new Date().getTime();\n        data.push(temp)\n        // store the value back\n        context.set('data',data, function(err) {\n            if (err) {\n                node.error(err, msg);\n            } else {\n                // make it part of the outgoing msg object\n                msg.payload = data;\n                // send the message\n                console.log(data);\n                if(data.length == 50){\n                    node.send(msg);\n                    data = [];\n                }\n                \n            }\n        });\n    }\n});\n\n// return msg;","outputs":1,"noerr":0,"x":343,"y":423,"wires":[["aeea99f5.4a2bd8"]]},{"id":"b89af9f4.e14b78","type":"debug","z":"b19d72e1.bf271","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":762,"y":417,"wires":[]},{"id":"798f7833.103188","type":"ui_template","z":"b19d72e1.bf271","group":"9ba4f3a7.5ec78","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":586.5,"y":353,"wires":[[]]}]