team01_hou/cau2/node-red/flows.json
[{"id":"19567476.ba3eec","type":"tab","label":"espx","disabled":false,"info":""},{"id":"c08b01a.8bd3b","type":"tab","label":"espx","disabled":false,"info":""},{"id":"b7dde8e2.0d3e58","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"test","tz":""},{"id":"b9f4536e.bf26e","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"test","name":"","usetls":false,"tls":""},{"id":"57ac4c7b.61d254","type":"mqtt-broker","z":"","name":"mqtt broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7ee646e3.efaf48","type":"dashboard","z":"19567476.ba3eec","name":"Custom dashboard","x":690,"y":75,"wires":[["dcd73ac5.fb8018"]]},{"id":"e63f816.e99108","type":"http in","z":"19567476.ba3eec","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":75,"y":50,"wires":[["7ee646e3.efaf48"]]},{"id":"dcd73ac5.fb8018","type":"http response","z":"19567476.ba3eec","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":1400,"y":225,"wires":[]},{"id":"f7f8a12b.78b9","type":"http in","z":"19567476.ba3eec","name":"","url":"/api/info","method":"get","upload":false,"swaggerDoc":"","x":95,"y":125,"wires":[["8d301dbb.81f77"]]},{"id":"8d301dbb.81f77","type":"json","z":"19567476.ba3eec","name":"","property":"payload","action":"","pretty":false,"x":1033,"y":175,"wires":[["dcd73ac5.fb8018"]]},{"id":"c9f4b433.27f498","type":"mysql","z":"19567476.ba3eec","mydb":"b7dde8e2.0d3e58","name":"mysql db","x":1010,"y":425,"wires":[[]]},{"id":"b6470124.84bce","type":"influxdb in","z":"19567476.ba3eec","influxdb":"b9f4536e.bf26e","name":"query influxdb","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":855,"y":200,"wires":[["8d301dbb.81f77"]]},{"id":"4b0705a2.b0d3ac","type":"mqtt in","z":"19567476.ba3eec","name":"","topic":"esp32/mpu","qos":"0","broker":"57ac4c7b.61d254","x":85,"y":625,"wires":[["d28308e2.31fcd8"]]},{"id":"13643129.7d049f","type":"mqtt out","z":"19567476.ba3eec","name":"* output *","topic":"","qos":"","retain":"","broker":"57ac4c7b.61d254","x":1168,"y":700,"wires":[]},{"id":"d28308e2.31fcd8","type":"function","z":"19567476.ba3eec","name":"process espx data","func":"//JSON.parse\ntry {\n    msg.payload = JSON.parse(msg.payload);\n    return msg;\n} catch (e) {\n}\n","outputs":1,"noerr":0,"x":330,"y":625,"wires":[["67c74b64.c88d94","1ba43577.991b2b"]]},{"id":"1ba43577.991b2b","type":"debug","z":"19567476.ba3eec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":500,"wires":[]},{"id":"67c74b64.c88d94","type":"function","z":"19567476.ba3eec","name":"return espx data","func":"msg.payload = \"OK\";\nreturn msg;","outputs":1,"noerr":0,"x":655,"y":550,"wires":[["13643129.7d049f"]]},{"id":"ddf88990.f00fd8","type":"http in","z":"19567476.ba3eec","name":"","url":"/api/activity/latest","method":"get","upload":false,"swaggerDoc":"","x":125,"y":200,"wires":[["89478a4b.988748"]]},{"id":"f328f84e.68e498","type":"http in","z":"19567476.ba3eec","name":"","url":"/api/activity/set","method":"get","upload":false,"swaggerDoc":"","x":115,"y":275,"wires":[["ddff923b.e17a9"]]},{"id":"89478a4b.988748","type":"function","z":"19567476.ba3eec","name":"get activty from db","func":"msg.query = \"select last(activity_label) as actvity_label from activitylog\";\nreturn msg;","outputs":1,"noerr":0,"x":465,"y":200,"wires":[["b6470124.84bce"]]},{"id":"ddff923b.e17a9","type":"function","z":"19567476.ba3eec","name":"save activity from python","func":"//msg.payload = JSON.parse(msg.payload);\nif (typeof msg.payload == 'object' && typeof msg.payload.activity_id === 'string' && typeof msg.payload.activity_label === 'string' && typeof msg.payload.mpu_rate === 'string' && typeof msg.payload.device_id === 'string') {\n    msg.payload.activity_id = parseInt(msg.payload.activity_id);\n    if (!isNaN(msg.payload.activity_id) && msg.payload.activity_id !== 0) {\n        msg.payload.mpu_rate = parseInt(msg.payload.mpu_rate);\n        msg.measurement = 'activitylog';\n        msg.payload = [{\n            activity_id: msg.payload.activity_id,\n            activity_label: msg.payload.activity_label,\n            mpu_rate: msg.payload.mpu_rate,\n            timestamp: (new Date()).getTime()\n        }, {\n            device_id: msg.payload.device_id\n        }];\n        return msg;\n    }\n}\nmsg.measurement = null;\nmsg.payload = null;\nreturn msg;\n","outputs":1,"noerr":0,"x":485,"y":275,"wires":[["9553ee26.7e529"]]},{"id":"8bc9f3bb.c967","type":"influxdb out","z":"19567476.ba3eec","influxdb":"b9f4536e.bf26e","name":"save to influxdb","measurement":"","precision":"","retentionPolicy":"","x":1038,"y":575,"wires":[]},{"id":"2cfba222.1a12ae","type":"function","z":"19567476.ba3eec","name":"ok func","func":"msg.payload = 'OK';\nreturn msg;","outputs":1,"noerr":0,"x":1118,"y":225,"wires":[["dcd73ac5.fb8018"]]},{"id":"6417d32b.88d09c","type":"function","z":"19567476.ba3eec","name":"failed func","func":"msg.payload = '';\nmsg.statusCode = 200;\nreturn msg;\n","outputs":1,"noerr":0,"x":1118,"y":250,"wires":[["dcd73ac5.fb8018"]]},{"id":"9553ee26.7e529","type":"switch","z":"19567476.ba3eec","name":"payload = null or not switch","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":3,"x":1043,"y":350,"wires":[["2cfba222.1a12ae"],["8bc9f3bb.c967"],["6417d32b.88d09c"]]},{"id":"e498dec1.2adb1","type":"http in","z":"19567476.ba3eec","name":"","url":"/api/activity/chartdata","method":"get","upload":false,"swaggerDoc":"","x":135,"y":375,"wires":[["cbb033e5.e1e12"]]},{"id":"cbb033e5.e1e12","type":"function","z":"19567476.ba3eec","name":"query chart data","func":"// 6hours, day, week, month\nvar period = 'hour';\nif (typeof msg.payload.period === 'string') {\n    period = msg.payload.period;\n}\nmsg.payload = null;\nswitch (period) {\n    case 'hour':\n        time = '1h';\n    break;\n    case '6hours':\n        time = '6h';\n    break;\n    case 'day':\n        time = '24h';\n    break;\n    case 'week':\n        time = '7d';\n    break;\n    case 'month':\n        time = '30d';\n    break;\n}\nmsg.query = `SELECT COUNT(activity_id) as count from activitylog where time > (now() - ${time}) group by time(60s) limit 100`;\nreturn msg;\n","outputs":1,"noerr":0,"x":455,"y":350,"wires":[["46316d7c.0e2794"]]},{"id":"e56b3f98.0cfbb","type":"function","z":"19567476.ba3eec","name":"format chart data","func":"if (true) {\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":375,"wires":[["1ba43577.991b2b","8d301dbb.81f77"]]},{"id":"46316d7c.0e2794","type":"influxdb in","z":"19567476.ba3eec","influxdb":"b9f4536e.bf26e","name":"query influxdb -> process","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":835,"y":250,"wires":[["e56b3f98.0cfbb"]]},{"id":"30f2dce.a39be24","type":"mqtt out","z":"c08b01a.8bd3b","name":"","topic":"","qos":"","retain":"","broker":"57ac4c7b.61d254","x":900,"y":300,"wires":[]},{"id":"927e0cee.45a7a","type":"mqtt in","z":"c08b01a.8bd3b","name":"","topic":"espx/mpu","qos":"0","broker":"57ac4c7b.61d254","x":135,"y":300,"wires":[["37915c37.8f68a4"]]},{"id":"37915c37.8f68a4","type":"function","z":"c08b01a.8bd3b","name":"Process to save mpu data","func":"try {\n    msg.payload = JSON.parse(msg.payload);\n    msg.measurement = 'mpu';\n    if (typeof msg.payload.device_id !== 'string' || typeof msg.payload.ax !== 'number' || typeof msg.payload.gp !== 'number') {\n        msg.payload = null;\n    } else {\n        msg.payload.timestamp = (new Date()).getTime();\n    }\n    msg.payload =\n        [\n            msg.payload,\n            {\n                device_id: msg.payload.device_id\n            }\n    ];\n    delete msg.payload[0].device_id;\n} catch (e) {\n    msg.payload = null;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":385,"y":300,"wires":[["2a27eac8.11e856","a706b68c.da14d8"]]},{"id":"a1e0a6f5.e76268","type":"http in","z":"c08b01a.8bd3b","name":"","url":"/api/mpu/latest","method":"get","upload":false,"swaggerDoc":"","x":165,"y":75,"wires":[["1b80f81d.6b23a8"]]},{"id":"a706b68c.da14d8","type":"switch","z":"c08b01a.8bd3b","name":"payload = null or not switch","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":3,"x":685,"y":375,"wires":[[],["274ffa96.35ed96"],[]]},{"id":"1d34720d.02a68e","type":"http response","z":"c08b01a.8bd3b","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":900,"y":200,"wires":[]},{"id":"f9d5208b.ec578","type":"dashboard","z":"c08b01a.8bd3b","name":"Custom dashboard","x":415,"y":200,"wires":[["1d34720d.02a68e"]]},{"id":"e410371.adb5dc8","type":"http in","z":"c08b01a.8bd3b","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":125,"y":200,"wires":[["f9d5208b.ec578"]]},{"id":"7ab3246a.94eedc","type":"json","z":"c08b01a.8bd3b","name":"","property":"payload","action":"","pretty":false,"x":775,"y":125,"wires":[["1d34720d.02a68e"]]},{"id":"e094bfec.69bd8","type":"influxdb in","z":"c08b01a.8bd3b","influxdb":"b9f4536e.bf26e","name":"query influxdb","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":605,"y":50,"wires":[["7ab3246a.94eedc"]]},{"id":"a6c1a8e3.68ab98","type":"function","z":"c08b01a.8bd3b","name":"ok func","func":"msg.payload = 'OK';\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":375,"wires":[["1d34720d.02a68e"]]},{"id":"64d5f6c7.7ff4d8","type":"function","z":"c08b01a.8bd3b","name":"failed func","func":"msg.payload = '';\nmsg.statusCode = 200;\nreturn msg;\n","outputs":1,"noerr":0,"x":1010,"y":400,"wires":[["1d34720d.02a68e"]]},{"id":"274ffa96.35ed96","type":"influxdb out","z":"c08b01a.8bd3b","influxdb":"b9f4536e.bf26e","name":"save to influxdb","measurement":"","precision":"","retentionPolicy":"","x":905,"y":500,"wires":[]},{"id":"1b80f81d.6b23a8","type":"function","z":"c08b01a.8bd3b","name":"query latest data","func":"msg.query = 'SELECT last(timestamp), * FROM mpu LIMIT 1';\nreturn msg;","outputs":1,"noerr":0,"x":405,"y":50,"wires":[["e094bfec.69bd8"]]},{"id":"2a27eac8.11e856","type":"function","z":"c08b01a.8bd3b","name":"Temporarily close","func":"msg.topic = 'espx/mpu/out';\nreturn msg;","outputs":1,"noerr":0,"x":665,"y":300,"wires":[["30f2dce.a39be24"]]},{"id":"c25189a5.ae9878","type":"debug","z":"c08b01a.8bd3b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":625,"y":575,"wires":[]},{"id":"b796fa8d.711928","type":"http in","z":"c08b01a.8bd3b","name":"","url":"/api/mpu/data","method":"get","upload":false,"swaggerDoc":"","x":155,"y":125,"wires":[["3a84832a.a0038c"]]},{"id":"3a84832a.a0038c","type":"function","z":"c08b01a.8bd3b","name":"query latest data","func":"var size = 10;\nif (typeof msg.payload.size === 'string') {\n    size = parseInt(msg.payload.size);\n    if (!size) {\n        size = 10;\n    }\n}\nmsg.query = `SELECT * FROM mpu ORDER BY time DESC LIMIT 10`;\nreturn msg;\n","outputs":1,"noerr":0,"x":405,"y":100,"wires":[["e094bfec.69bd8"]]}]