HCMUE-DaihocsuphamTPHCM/docker-nodered-mosquitto/flow.js
[{"id":"3ad06074.b71e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"588accff.2c29a4","type":"http request","z":"3ad06074.b71e8","name":"GetW","method":"GET","ret":"txt","url":"http://api.apixu.com/v1/current.json?key=703547692c38469da5885834182911&q=HaNoi","tls":"","x":290,"y":260,"wires":[["bd1cc9e8.bd1a5"]]},{"id":"2408128.187526e","type":"mqtt in","z":"3ad06074.b71e8","name":"","topic":"Watch","qos":"0","broker":"22ba921.ebfa8ee","x":70,"y":120,"wires":[["fa1dec04.7fc0c8"]]},{"id":"bb20892.727f678","type":"inject","z":"3ad06074.b71e8","name":"GetWeather","topic":"weather","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":300,"wires":[["588accff.2c29a4"]]},{"id":"cc9bb8bb.ac1d38","type":"debug","z":"3ad06074.b71e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":240,"wires":[]},{"id":"bd1cc9e8.bd1a5","type":"function","z":"3ad06074.b71e8","name":"Get state","func":"data = JSON.parse(msg.payload);\n\nmsg.payload = data.current.condition.text;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["cc9bb8bb.ac1d38"]]},{"id":"d0eebf0a.0b9fc","type":"mqtt out","z":"3ad06074.b71e8","name":"","topic":"Server","qos":"0","retain":"","broker":"22ba921.ebfa8ee","x":660,"y":140,"wires":[]},{"id":"fa1dec04.7fc0c8","type":"function","z":"3ad06074.b71e8","name":"GETTIME","func":"if (msg.payload == \"GETTIME\") {\n    d = new Date();\n    msg.payload = `Th ${d.getMonth()} ${d.getDay()}, ${d.getFullYear()}/${d.getHours()}:${d.getMinutes()} ${d.getSeconds()}`;\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["d0eebf0a.0b9fc","cc9bb8bb.ac1d38"]]},{"id":"a3831f57.5ad77","type":"inject","z":"3ad06074.b71e8","name":"","topic":"","payload":"GETTIME","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["fa1dec04.7fc0c8"]]},{"id":"22ba921.ebfa8ee","type":"mqtt-broker","z":"","name":"","broker":"10.170.46.243","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]