mqtt-dhbkhn/Cau2/node-red/flows.json
[{"id":"c73e5910.1e8858","type":"tab","label":"Cau2","disabled":false,"info":""},{"id":"7c500cb.abcf1f4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"e26451be.a5299","type":"ui_group","z":"","name":"THÔNG SỐ Ax, Ay, Az","tab":"7c500cb.abcf1f4","disp":true,"width":"20","collapse":true},{"id":"b3788c6.ba39f7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8579d6.1b2fe628","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"48fcbb66.311ad4","type":"ui_group","z":"","name":"THÔNG SỐ Yaw, Pitch, Roll","tab":"7c500cb.abcf1f4","disp":true,"width":"20","collapse":true},{"id":"25479941.e44f56","type":"function","z":"c73e5910.1e8858","name":"extract data ","func":"var yaw = {}\nvar pitch = {}\nvar roll = {}\nvar Ax = {}\nvar Ay = {}\nvar Az = {}\n\ndata = msg.payload\n\nAx.payload = data.Ax\nAx.topic = 'Ax'\n\n\nAy.payload = data.Ay\nAy.topic = 'Ay'\n\nAz.payload = data.Az\nAz.topic = 'Az'\n\nyaw.payload = data.yaw\nyaw.topic = 'yaw'\n\n\npitch.payload = data.pitch\npitch.topic = 'pitch'\n\nroll.payload = data.roll\nroll.topic = 'roll'\n\nreturn [Ax, Ay, Az, yaw, pitch, roll];","outputs":6,"noerr":0,"x":689.666748046875,"y":380.9999694824219,"wires":[["2ea8892f.dd6066"],["750c2ee7.c215"],["641ddde4.fe1194"],["9a980c6e.26154"],["b982ba8.787fe48"],["d208c33e.caba7"]]},{"id":"7d0dcd8a.f05fc4","type":"json","z":"c73e5910.1e8858","name":"","property":"payload","action":"","pretty":false,"x":304.66668701171875,"y":379.66668701171875,"wires":[["a1ded357.f0a24"]]},{"id":"29cb1320.c32bdc","type":"mqtt in","z":"c73e5910.1e8858","name":"receive data","topic":"mqtt-team/real-time","qos":"2","broker":"8579d6.1b2fe628","x":83.33333587646484,"y":378.33331298828125,"wires":[["7d0dcd8a.f05fc4"]]},{"id":"641ddde4.fe1194","type":"ui_chart","z":"c73e5910.1e8858","name":"","group":"e26451be.a5299","order":0,"width":"6","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#ec063d","#145fea","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1055.6666259765625,"y":369.33331298828125,"wires":[[],[]]},{"id":"9a980c6e.26154","type":"ui_chart","z":"c73e5910.1e8858","name":"","group":"48fcbb66.311ad4","order":0,"width":"6","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#ec063d","#145fea","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1044.9999389648438,"y":430.6666564941406,"wires":[[],[]]},{"id":"b982ba8.787fe48","type":"ui_chart","z":"c73e5910.1e8858","name":"","group":"48fcbb66.311ad4","order":0,"width":"6","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#ec063d","#145fea","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1024.6666259765625,"y":493.33331298828125,"wires":[[],[]]},{"id":"d208c33e.caba7","type":"ui_chart","z":"c73e5910.1e8858","name":"","group":"48fcbb66.311ad4","order":0,"width":"6","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"100","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#ec063d","#145fea","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1013.9999389648438,"y":564.3333129882812,"wires":[[],[]]},{"id":"2ea8892f.dd6066","type":"ui_chart","z":"c73e5910.1e8858","name":"","group":"e26451be.a5299","order":0,"width":"6","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"500","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#ec063d","#145fea","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1058.3333129882812,"y":205.3333282470703,"wires":[[],[]]},{"id":"750c2ee7.c215","type":"ui_chart","z":"c73e5910.1e8858","name":"","group":"e26451be.a5299","order":0,"width":"6","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"500","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#ec063d","#145fea","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1050,"y":302,"wires":[[],[]]},{"id":"a1ded357.f0a24","type":"function","z":"c73e5910.1e8858","name":"filter","func":"if (context.last_time == undefined){\n    context.last_time = Date.now()\n}\nif(Date.now() - context.last_time > 1000){\n    context.last_time = Date.now();\n    node.send(msg)\n}\n","outputs":1,"noerr":0,"x":492,"y":382,"wires":[["25479941.e44f56"]]}]